.wrapper{
    width: auto;
    height: 895px;
    background-image: url(./media/shutterstock.png);
    background-position: center;
    background-repeat: no-repeat;
    

    padding-top: 162px;
}

.container_header_bottom{
    width: 50%;
    padding-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}