.wrapper_product{
    width: 349px;
    height: 622px;
    box-shadow: 0 4px 20px 0 rgba(150, 150, 150, 0.25);
    border-radius: 15px;

    background-color: var(--brand-color4);

}

.info{
    height: 350px;
    margin: 18px 0px;
    padding: 10px 20px;

    display: flex;
    flex-direction: column;
}

.info_top,
.price_btn{
    height: 50%;    
}

.price_btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info_top p{
    font-size: 18px;
    font-weight: 400;
    line-height: 20.7px;

    color: var(--brand-color6);
    margin: 17px 0px;
}

.info_top span{
    font-weight: 600;
    color: var(--brand-color3);
}

.price{
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 4px;
}

.price_old{
    font-size: 18px;
    font-weight: 600;
    line-height: 20.7px;
    text-decoration: line-through;
}

.price_discount{
    font-size: 22px;
    font-weight: 700;
    line-height: 25.3px;
    color: var(--brand-color1);
}